img {
    width: 50%;
}

.kaili-photo {
    text-align: center;
}

.about-header, .projects-header {
    text-align: center;
}

.projects-button, .about-button {
    text-align: center;
    margin-top: 3%;
}

