@{
    ViewData["Title"] = "About";
}

<h1 class="about-header">About Kaili</h1>

<p><span class="aloha">Aloha!</span> Born and raised on the island of Oahu, Hawai'i, Kaili spent her days enjoying island life and never dreamed of learning how to code or entering the tech world. 
Excited to learn new skills, Kaili was inspired to join Epicodus and learn how to code.
Kaili enjoys spending most of her time with her dog, <a href="https://www.instagram.com/momokokissu/"><strong>Momo</strong></a> and partner, Scott. 
Kaili also enjoys traveling, cooking, and watching movies. 
Her interests include astrology and sewing. Kaili currently resides on Mercer Island, Washington.</p>


<div class="kaili-photo">
    <img src="~/images/Kaili.JPG" alt="A photo of Kaili Nishihira" class="img-rounded">
</div>
