@{
    ViewData["Title"] = "Portfolio";
}

<div class="about-button">
    <button class="about"><a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></button>
</div>

<div class="projects-button">
    <button class="projects"><a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Repos">Projects</a></button>
</div>
