@{
    ViewData["Title"] = "Projects";
}

@model IEnumerable<Portfolio.Models.Repo>

<h1 class="projects-header">Github Projects</h1>

<hr />


<div class="card-deck">
    @foreach(var repo in Model)
	{
           <div class="card">
            <div class="card-block">
        	    <h4 class="card-title">@Html.DisplayFor(model => repo.name)</h4>
			    <a href="@repo.svn_url" target="_blank"> @repo.svn_url.Substring(0, 25)...</a>
        	    <p class="card-text">@Html.DisplayFor(model => repo.stargazers_count)</p>
             </div>
          </div>
    }
</div>


